@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html, body {
  font-family: "Cairo", serif;
  font-weight: 400;

}
.box-shadow {
  box-shadow: 0px 0px 12px 8px rgba(176, 183, 195, 0.14);

}
.button-shadow {
  box-shadow: 0px 1.09px 2.18px 0px rgba(16, 24, 40, 0.05);
}
.activeSidePage {
  background: #000;
}
.activeTapSelector{
  color: #fff !important;
  background: #377DFF;
}

body{
  font-family: Tajawal, sans-serif;
}
.menu {
  display: none;
  position: absolute;
  z-index: 10;
  right: 100%;
  top: 10px;
  transform: translateX(80%);
}

.menu.show {
  display: block;
}

.checkbox-select {
            position: relative;
            width: 200px;
            font-family: Arial, sans-serif;
        }
        
        .select-display {
            width: 100%;
            padding: 8px 12px;
            border: 1px solid #ccc;
            border-radius: 4px;
            background-color: white;
            cursor: pointer;
            text-align: left;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
        
        .options-container {
            display: none;
            position: absolute;
            top: 100%;
            left: 0;
            width: 100%;
            max-height: 200px;
            overflow-y: auto;
            border: 1px solid #ccc;
            border-radius: 4px;
            background-color: white;
            z-index: 1000;
            box-shadow: 0 2px 5px rgba(0,0,0,0.2);
        }
        
        .option-item {
            padding: 8px 12px;
            cursor: pointer;
            display: flex;
            align-items: center;
        }
        
        .option-item:hover {
            background-color: #f5f5f5;
        }
        
        .option-item input {
            margin-right: 8px;
            margin-left: 8px;
        }
        

        .select-display:focus + .options-container,
.options-container:focus,
.options-container:focus-within {
    display: block;
}