.hide-menu {
  padding-left: 11.5px;
  padding-right: 0px;
}
.action-waves-dark {
  padding: 10px 0px 0px 10px;
}
.waves-dark {
  padding: 10px 0px 0px 8px;
}
.scroo-j {
  margin-left: -10px !important;
  margin-right: 0 !important;
}
#sidebarnav {
  float: left;
}